.largeBox{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.box{
    display: flex;
    justify-content: space-between;
}

.headerBox{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.logo{
    height: 56px;
    width: 12%;
}

.profilePicture{
    display: flex;
    justify-self: right;
    height: 56px;
    width: 10%;
}

.menuBox{
    width: 20%;
    height: 146px;
    float: left;
}

.container{
    float: left;
    align-items: center;
}

.rightMenuBox{
    float: right;
    width: 20%;
}

.textInputField{
    background: rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
    border:none;
    color: white;
    padding-left: 10px;
}

.outerBox{
    color: #6BD1FF;
    padding: 30px;
    width: fit-content;
    height: fit-content;
}
.textAreaField{
    background: rgba(255, 255, 255, 0.1);
    width: 200px;
    border-radius: 8px;
    resize: none;
    margin-top: 20px;
    border:none;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.searchBar {
    width: 600px;
    box-sizing: content-box;
    height: 40px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding-left: 48px;
    font-size: 24px;
    font-family: Inter;
    border:none;
    color: white;
    background-image: url('./src/search_white_24dp.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;

}

.searchBar:focus{
    outline: none;
}

.selectLanguage{
    width: 214px;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
    border:none;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.1);
}


