body {
    background-color: #051D3B;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 56px;
    display: flex;
    justify-self: left;
}

.barraPesquisa{
    display: flex;
    justify-self: center;
}

.fotoPerfil{
    display: flex;
    justify-self: right;
    height: 56px;
}

.menuBox{
    width: 189px;
    height: 146px;
}

.menuTitleText{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing:7px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.menuItemText{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    text-align: left;
    float: left;
}

.iconBackground{
    background-color: #5081FB;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin: 10px;
    float: left;
}

.container{
    float: left;
}