body {
    background-color: #051D3B;
}

.iconBackground {
    background-color: #5081FB;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin: 10px;
    float: left;
}

.iconImage {
    margin: auto;
}

::placeholder {
    font-family: Inter;
    font-size: 24px;
    color: rgb(255, 255, 255);
    opacity: 1;
}

.barraPesquisa {
    width: 75%;
    height: 40px;
    border-radius: 8px;
    color: #C4C4C4;
    opacity: 16%;
}